
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');




.route{
  font-size: x-large;
  /* background-color: #212121 ; */
  background-color: rgb(201, 235, 249);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
/* =============================================== front page css =========================================== */
.imageDisplay
{
  margin-top: 100px;
  
  
}
#userImage
{
  background-color: white;
    border-radius: 50%;
    margin-left: 100px;
}
#adminImage
{
  background-color: white;
  border-radius: 50%;

}
#userImage:hover,#adminImage:hover
{
  border:5px double black;
  cursor: pointer;
  box-shadow: 3px 5px 10px 0px #ffdf34;
}


#frontPageTitle
{
  background-color: #ffdf34;
  text-align: center;
}
/*====================================================== admin login css======================================== */
#adminMainDiv div
{
    display: inline-block;
    /* border: 5px solid green; */
}
#adminLoginForm #textBox1,#textBox2
{
  width:90%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #897eff;
  color:#897eff;
}
#adminMainDiv #adminImg
{
  width: 60%; 
}
#adminMainDiv #adminLoginForm
{
  width: 40%;
  
}
#adminLoginForm #btn1,#btn2,#btn3
{
  
  margin-top: 20px;
  margin-right: 25px;
  background-color: #ffdf34;
  border-radius: 25px;
  margin-left: 25px;
  padding: 5px;
  width: 100px;
  color:black;
  text-decoration: none;
}
#adminLoginForm #btn1:hover,#btn2:hover,#btn3:hover
{
border:2px ridge white;
font-weight: bold;
}
#adminLoginForm h2
{
  color:#ffdf34;
}
#adminMainDiv
{
  background-color:#212121;
}

/*====================================================== user login css======================================== */
#userMainDiv div
{
    display: inline-block;
    /* border: 5px solid green; */
}
#userLoginForm #textBox11,#textBox22
{
  width:90%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #897eff;
  color:#897eff;
}
#userMainDiv #userImg
{
  width: 60%; 
}
#userMainDiv #userLoginForm
{
  width: 40%;
  
}
#userLoginForm #btn11,#btn22,#btn33
{
  
  margin-top: 20px;
  margin-right: 25px;
  background-color: #ffdf34;
  border-radius: 25px;
  margin-left: 25px;
  padding: 5px;
  width: 100px;
  color:black;
  text-decoration: none;
}

#userLoginForm #btn44{
  margin-top: 20px;
  margin-right: 25px;
  background-color:rgb(239, 118, 118);

  border-radius: 25px;
  margin-left: 25px;
  padding: 5px;
  width: 100px;
  color:black;
  display:inline;
  text-decoration: none;
}
#userLoginForm #noAcc{
  margin-top:20px;
  margin-right: 25px;
  margin-left: 20px;
  color: #897eff;
}

#userLoginForm #noAcc:hover
  {
   cursor:pointer;
    font-weight: bold;
}

#userLoginForm #btn11:hover,#btn22:hover,#btn33:hover ,#btn44:hover
{
border:2px ridge white;
font-weight: bold;
}
#userLoginForm h2
{
  color:#ffdf34;
}
#userMainDiv
{
  background-color:#212121;
}

/*======================================================  Register css======================================== */
#registerMainDiv div
{
    display: inline-block;
     /* border: 5px solid rgb(24, 210, 154); */
     
     
} 
#registerForm #textBox111,#textBox222,#textBox333,#textBox444
{
  width:90%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #897eff;
  color:#897eff;
}
#registerMainDiv #registerImg
{
  width: 60%;
  
}
#registerMainDiv #registerForm
{
  width: 40%;
  
}
#registerForm #btn111,#btn222,#btn333
{
  
  margin-top: 20px;
  margin-right: 25px;
  background-color: #ffdf34;
  border-radius: 25px;
  margin-left: 25px;
  padding: 5px;
  width: 100px;
  color:black;
  text-decoration: none;

}
#registerForm #btn444{
  margin-top: 20px;
  margin-right: 25px;
  background-color:rgb(239, 118, 118);

  border-radius: 25px;
  margin-left: 25px;
  padding: 5px;
  width: 100px;
  color:black;
  display:inline;
  text-decoration: none;
}
#registerForm #noAcc444{
  margin-top:20px;
  margin-right: 25px;
  margin-left: 20px;
  color:#897eff;
}
#registerForm #noAcc444:hover
  {
   cursor:pointer;
    font-weight: bold;
}
#registerForm #btn111:hover,#btn222:hover,#btn333:hover,#btn444:hover
{
border:2px ridge white;
font-weight: bold;
}
#registerForm h2
{

  color:#ffdf34;
}
#registerMainDiv
{
  background-color:#212121;
  
}

/*================sidebar===============*/
*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 70px;
}
.sidebar{
/* background: #000; */
  background: rgb(201, 235, 249);
  
  color: #000;
  
  height: 100vh;
  width: 250px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #000;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}


/*==========================dashboard============================*/
/* Main  */  
.main-container {
  grid-area: main;
  /* width: 1500px; */
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(12, 12, 12, 0.95);
  /* margin-left: 100px; */
  
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child  {
  /* background-color: #2962ff; */

  background-color: rgb(248, 169, 169);
  box-shadow: 3px 3px 3px 3px black;
  
  
}



.card:nth-child(2) {
  /* background-color: #ff6d00; */

  background-color: rgb(185, 199, 255);
  
  box-shadow: 3px 3px 3px 3px black;
}

.card:nth-child(3) {
  /* background-color: #2e7d32; */

  background-color: rgb(249, 186, 221);
  box-shadow: 3px 3px 3px 3px black;
}

.card:nth-child(4) {
  /* background-color: #d50000; */

  background-color: rgb(188, 250, 188);
  box-shadow: 3px 3px 3px 3px black;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}




/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}
/* End Header  */

body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

#rightSide
{
  position: fixed;
  right: 0;
  top:0;
  width: 221px;
  height: 730px;
  background-color: rgb(255, 255, 255);
}


/*---------------customers-------------*/
.table1{
  margin-left: 35px;
  width: 114%;
  cursor:pointer;
}
.table1:hover
{
  box-shadow: 0px 0px 10px 10px white;
}
.table1 tr th
{
  font-weight: bold;
  color:black;
}
.table1,td,th
{
  padding:10px;
  background-color:rgb(149, 219, 240);
   border:1px solid black; 
  

}


/*  card  */

.cardStyle:hover{
  box-shadow: 0px 0px 3px 10px rgb(252, 252, 252);
  cursor: pointer;
  height: 26rem;
}


.cardStyle1:hover{
  box-shadow: 0px 0px 3px 10px rgb(252, 252, 252);
  cursor: pointer;
  height: 20rem;
}